<%= error_messages_for(@page) %>

<%= markitup(f, :body, :toggle => 'text_filter') %>
<%= anytime(f, :published_at) %>

<%= f.label :title, :class => 'block' %>
<%= f.text_field :title, :placeholder => "Example Title" %>

<%= f.label :text_filter %>
<%= f.select :text_filter, TEXT_FILTERS.collect { |tf| [tf[:human_readable], tf[:name]]}, { :selected => f.object.text_filter ? f.object.text_filter : Setting.application.value(:text_filter) } %>
<span class="help-inline">Changing this will change the editing mode of the field below.</span>

<%= f.label :body, "Content", :class => 'block' %>
<%= f.text_area :body %>
  
<%= f.label :permalink, :class => 'block mid' %>
<%= f.text_field :permalink, :placeholder => 'generated-or-fill-me-in' %>

<%= f.label :published_at, "Published" %>
<%= f.text_field :published_at, :value => (@page.published_at || Time.zone.now).to_s(:anytime), :class => 'noted' %>
<span class="help-inline">Set a future date to delay publishing.</span>


<%= f.label :draft, ("Draft " + (f.check_box :draft)).html_safe, :class => "checkbox" %>
<%= f.label :hidden, ("Hidden " + (f.check_box :hidden)).html_safe, :class => "checkbox" %>

<%= f.submit "Save" %>
<%= link_to "Cancel", admin_pages_path, :class => 'cancel' %>
