<%= error_messages_for(@page) %>

<%= markitup(f, :body, :toggle => 'text_filter') %>
<%= anytime(f, :published_at) %>

<fieldset>
  <%= f.label :title, :class => 'block' %>
  <%= f.text_field :title, :placeholder => "Example Title" %>
</fieldset>

<table>
  <tr>
    <td><%= f.label :text_filter %></td>
    <td><%= f.select :text_filter, TEXT_FILTERS.collect { |tf| [tf[:human_readable], tf[:name]]}, { :selected => f.object.text_filter ? f.object.text_filter : Setting.application.value(:text_filter) } %> <span class="note">Changing this will change the editing mode of the field below.</span></td>
  </tr>
</table>

<fieldset>
  <%= f.label :body, :class => 'block' %>
  <%= f.text_area :body %>
  
  <%= f.label :permalink, :class => 'block mid' %>
  <%= f.text_field :permalink, :placeholder => 'generated-or-fill-me-in' %>
</fieldset>

<table>
  <tr>
    <td><%= f.label :published_at, "Published" %></td>
    <td><%= f.text_field :published_at, :value => (@page.published_at || Time.now).to_s(:anytime), :class => 'noted' %> <span class="note">Set to the future to publish later &amp; keep as a draft.</span></td>
  </tr>
  <tr>
    <td><%= f.label :draft %></td>
    <td><%= f.check_box :draft %></td>
  </tr>
  <tr>
    <td><%= f.label :hidden %></td>
    <td><%= f.check_box :hidden %></td>
  </tr>
</table>

<fieldset>
  <%= f.submit "Save" %>
  <%= link_to "Cancel", admin_pages_path, :class => 'cancel' %>
</fieldset>
