<%= error_messages_for(@article) %>

<%= markitup(f, [:body, :excerpt], :toggle => 'text_filter') %>
<%= anytime(f, :published) %>

<fieldset>
  <%= f.label :title, :class => 'block' %>
  <%= f.text_field :title, :placeholder => "Example Title" %>
</fieldset>

<fieldset>
  <%= f.label :composite_tags, "Tags", :class => 'block' %>
  <%= f.text_field :composite_tags, :placeholder => "Add, Some, Tags, Here" %>
</fieldset>

<table>
  <tr>
    <td><%= f.label :text_filter %></td>
    <td><%= f.select :text_filter, TEXT_FILTERS.collect { |tf| [tf[:human_readable], tf[:name]]}, { :selected => f.object.text_filter ? f.object.text_filter : Setting.application.value(:text_filter) } %> <span class="note">Changing this will change the editing mode of the fields below.</span></td>
  </tr>
</table>

<fieldset>
  <%= f.label :body, "Content", :class => 'block' %>
  <%= f.text_area :body %>

  <%= f.label :excerpt, :class => 'block mid' %>
  <%= f.text_area :excerpt %>
</fieldset>

<table>
  <tr>
    <td><%= f.label :permalink %></td>
    <td><%= f.text_field :permalink, :placeholder => 'generated-or-fill-me-in' %></td>
  </tr>
    <td><%= f.label :draft %></td>
    <td><%= f.check_box :draft %></td>
  <tr>
  </tr>
</table>

<fieldset>
  <%= f.submit "Save" %>
  <%= link_to "Cancel", admin_articles_path, :class => 'cancel' %>
</fieldset>
