<%= error_messages_for(@article) %>

<table>
  <tr>
    <td><%= f.label :title %></td>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <td><%= f.label :body %></td>
    <td><%= f.text_area :body %></td>
  </tr>
  <tr>
    <td><%= f.label :excerpt %></td>
    <td><%= f.text_area :excerpt %></td>
  </tr>
  <tr>
    <td><%= f.label :permalink %></td>
    <td><%= f.text_field :permalink %></td>
  </tr>
  <tr>
    <td><%= f.label :draft %></td>
    <td><%= f.check_box :draft %></td>
  </tr>
  <tr>
    <td><%= f.label :published %></td>
    <td><%= f.datetime_select :published %></td>
  </tr>
  <tr>
    <td><%= f.label :composite_tags %></td>
    <td><%= f.text_field :composite_tags %></td>
  </tr>
</table>

<%= f.submit %>