<%= error_messages_for(@article) %>

<%= markitup(f, [:body, :excerpt], :toggle => 'text_filter') %>
<%= datetime(f, :published_at) %>

<%= f.label :title %>
<%= f.text_field :title, :placeholder => "Example Title", :class => "input-xxlarge" %>

<%= f.label :composite_tags, "Tags" %>
<%= f.text_field :composite_tags, :placeholder => "Add, Some, Tags, Here", :class => "input-xlarge" %>

<%= f.label :text_filter %>
<%= f.select :text_filter, TEXT_FILTERS.collect { |tf| [tf[:human_readable], tf[:name]] }, {:selected => f.object.text_filter ? f.object.text_filter : Setting.application.value(:text_filter)} %>
<span class="help-inline">Changing this will change the editing mode of the fields below.</span>

<%= f.label :body, "Content" %>
<%= f.text_area :body %>

<%= f.label :excerpt %>
<%= f.text_area :excerpt %>

<%= f.label :permalink %>
<%= f.text_field :permalink, :placeholder => 'generated-or-fill-me-in', :class => "input-xlarge" %>

<%= f.label :published_at, "Published" %>
<%= f.text_field :published_at, :value => (@article.published_at || Time.zone.now).to_s(:datetime) %>
<span class="help-inline">Set a future date to delay publishing.</span>

<%= f.label :draft, ("Draft " + (f.check_box :draft)).html_safe, :class => "checkbox" %>

<div class="form-actions">
  <%= f.submit "Save", :class => ["btn", "btn-primary"] %>
</div>
