<p><%= link_to 'New Article', new_admin_article_path, :class => ["btn", "btn-primary"] %></p>

<table class="table table-striped table-bordered">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Tags</th>
    <th>Published</th>
    <th></th>
    <th></th>
  </tr>
  <% for article in @articles %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.user.username %></td>
      <td>
        <% article.tags.each do |tag| %>
		<span class="label"><%= tag.name.gsub(' ','&nbsp;').html_safe %></span>
        <% end %>
      </td>
      <td><%= !article.draft ? article.published_at.zoned.to_s(:admin) : "Not Published" %></td>
      <td class="center"><%= link_to iconify(:icon_pencil, "Edit"), edit_admin_article_path(article) %></td>
      <td class="center"><%= link_to iconify(:icon_remove, "Delete"), admin_article_path(article), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
