<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Permalink</th>
    <th>Tags</th>
    <th>Published</th>
    <th>Comments</th>
    <th></th>
    <th></th>
  </tr>
  <% for article in @articles %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.user.username %></td>
      <td><%= article.permalink %></td>
      <td><%= article.composite_tags %></td>
      <td><%= !article.draft ? article.published.to_s(:admin) : "Not Published" %></td>
      <td><%= article.comments.count %></td>
      <td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
      <td><%= link_to 'Delete', admin_article_path(article), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Article', new_admin_article_path %>
