<table>
  <tr>
    <th>Filename</th>
    <th>Size</th>
    <th>Content Type</th>
    <th></th>
  </tr>
  <% for document in @documents %>
    <tr>
      <td><%= document.name + '.' + document.extension %></td>
      <td><%= document.size %></td>
      <td><%= document.content_type %></td>
      <td><%= link_to 'Delete', admin_document_path(document), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Document', new_admin_document_path %>
