<p><%= link_to 'Upload File', new_admin_document_path, :class => ["btn", "btn-primary"] %></p>

<table class="table table-striped table-bordered">
  <tr>
    <th>Filename</th>
    <th>Size</th>
    <th>Content Type</th>
    <th></th>
  </tr>
  <% for document in @documents %>
    <tr>
      <td><%= link_to "#{document.paperclip_file_name}", document.paperclip.url %></td>
      <td><%= number_to_human_size(document.paperclip_file_size) %></td>
      <td><%= document.paperclip_content_type %></td>
      <td class="text-center"><%= link_to iconify(:icon_remove, "Delete"), admin_document_path(document), data: { :confirm => 'Are you sure?' }, :method => :delete %></td>
    </tr>
  <% end %>
</table>
