<%= form_for(@document, :url => admin_documents_path, :html => { :multipart => true }) do |f| %>
  <%= error_messages_for(@document) %>

  <table>
    <tr>
      <td><%= f.label :document %></td>
      <td><%= f.file_field :document %></td>
    </tr>
  </table>

  <%= f.submit %>
  <%= link_to "Cancel", admin_documents_path %>
<% end %>
