<% title("New File") %>

<%= form_for(@document, :url => admin_documents_path, :html => {:multipart => true, :class => "form-horizontal" }) do |f| %>
    <%= error_messages_for(@document) %>

    <fieldset>
      <div class="control-group">
        <%= f.label :paperclip, "File" %>
        <div class="controls">
          <%= f.file_field :paperclip %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit "Upload", :class => ["btn", "btn-primary"] %>
      </div>
    </fieldset>
<% end %>
