<%= form_for(@document, :url => admin_documents_path, :html => { :multipart => true }) do |f| %>
  <%= error_messages_for(@document) %>

  <table>
    <tr>
      <td><%= f.label :document, "File" %></td>
      <td><%= f.file_field :document %></td>
    </tr>
  </table>
  
  <fieldset>
    <%= f.submit "Upload" %>
    <%= link_to "Cancel", admin_documents_path, :class => 'cancel' %>
  </fieldset>
<% end %>
