<% title(setting(:name) + " - Blog") %>

<% for article in @articles %>
    <% cache([ 'index', article ]) do %>
	    <article>
	    	<h2><%= link_to article.title, article_path(article) %></h2>
	    	<%= article.link_article || !article.excerpt.blank? ? content_tag(:blockquote, text_filter(article, :excerpt)) : text_filter(article, :body) %>

            <% if article.link_article %>
              <%= link_post_master(article) %>
            <% end %>

	    	<% if !article.composite_tags.blank? %>
	    		<section>Tagged: <%= article.composite_tags %></section>
	    	<% end %>

	    	<section>Published by <%= article.user.username %> on <%= article.published_at.zoned.to_s(:blog) %></section>
	    </article>
    <% end %>
<% end %>

<% if !params[:year] && !params[:month] %>
    <%= pagination @articles %>
<% end %>

<% cache('archive', skip_digest: true) do %>
    <footer>
      <% for year in Article.archive_dates.keys.sort { |x,y| y <=> x } %>
        <div class="archive">
          <h3><%= year %></h3>
          <ul>
            <% for month in Article.archive_dates[year].sort %>
              <li><%= link_to "%02d" % month, archive_path(:year => year, :month => month) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </footer>
<% end %>
