<%= error_messages_for(@user) %>

<fieldset>
  <%= f.label :username, :class => 'block' %>
  <%= f.text_field :username, :placeholder => "example" %>
</fieldset>

<fieldset>
  <%= f.label :password, :class => 'block' %></td>
  <%= f.password_field :password, :placeholder => "secure_pa55word" %></td>

  <%= f.label :password_confirmation, :class => 'block mid' %>
  <%= f.password_field :password_confirmation, :placeholder => "secure_pa55word" %>
</fieldset>
  
<fieldset>
  <%= f.label :email, :class => 'block' %>
  <%= f.email_field :email, :placeholder => "example@example.com" %>
</fieldset>

<fieldset>
  <%= f.submit "Save" %>
  <%= link_to "Cancel", admin_users_path, :class => 'cancel' %>
</fieldset>
