<%= form_for :user, :url => user_session_path do |f| %>
  <h2>Login</h2>
  
  <p>
    <%= f.label :username %>
      <br />
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %>
    <br />
    <%= f.password_field :password %>
  </p>
  
  <%= f.submit "Login" %>
<% end %>
