<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <title><%= name %> Administration</title>
  <%= less_link_tag 'admin/screen' %>
	<%= stylesheet_link_tag	'../markitup/skins/markitup/style',
													'../markitup/sets/html/style',
													'../markitup/sets/markdown/style',
													'../markitup/sets/textile/style',
													(Rails.env == "production" ? '../anytime/anytimec.css' : '../anytime/anytime.css') %>	
  <%= javascript_include_tag	:defaults,
															'../markitup/jquery.markitup.js',
															'../markitup/sets/html/set.js',
															'../markitup/sets/markdown/set.js',
															'../markitup/sets/textile/set.js',
															(Rails.env == "production" ? '../anytime/anytimec.js' : '../anytime/anytime.js') %>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<h1><%= name %></h1>
  	<%= link_to 'Logout', user_session_path, :method => :delete, :class => 'session' %>

  	<nav>
  	  <ul>
  	    <li><%= nav_link 'Articles', 'articles' %></li>
				<li><%= nav_link 'Pages', 'pages' %></li>
				<li><%= nav_link 'Files', 'documents' %></li>
  	    <li><%= nav_link 'Settings', 'settings' %></li>
  	    <li><%= nav_link 'Users', 'users' %></li>
  	  </ul>
  	</nav>

		<div id="shadow"> </div>
	</header>
	
	<div id="content">
  	<% flash.each do |key, msg| %>
			<%= content_tag :div, content_tag(:p, msg), :id => key %>
		<% end %>

  	<%= yield %>
	</div>
	
	<div id="sidebar">
		<h2>Tools</h2>
		<p>Useful tools coming soon…</p>
	</div>
</body>
</html>
