<!DOCTYPE html>
<html>
<head>
  <title><%= name %> Administration</title>
  <%= less_link_tag 'admin/style' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <%= link_to 'Logout', user_session_path, :method => :delete %>

  <nav>
    <ul>
      <li><%= link_to 'Articles', admin_articles_path %></li>
      <li><%= link_to 'Settings', admin_settings_path %></li>
      <li><%= link_to 'Users', admin_users_path %></li>
      <li><%= link_to 'Documents', admin_documents_path %></li>
      <li><%= link_to 'Pages', admin_pages_path %></li>
      <li><%= link_to 'Comments', admin_comments_path %></li>
    </ul>
  </nav>

  <% flash.each do |key, msg| %>
		<%= content_tag :div, content_tag(:p, msg), :id => key %>
	<% end %>

  <%= yield %>

</body>
</html>
