<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title><%= setting(:name) %> Administration - <%= (yield :title).empty? ? human_name.capitalize : (yield :title) %></title>
  <%= stylesheet_link_tag "admin" %>
  <%= stylesheet_link_tag '/markitup/skins/markitup/style',
                          '/markitup/sets/html/style',
                          '/markitup/sets/markdown/style',
                          '/markitup/sets/textile/style' %>
  <%= javascript_include_tag "admin" %>
  <%= javascript_include_tag '/markitup/jquery.markitup.js',
                             '/markitup/sets/html/set.js',
                             '/markitup/sets/markdown/set.js',
                             '/markitup/sets/textile/set.js' %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tag %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to setting(:name), root_path, :class => "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <%= nav_link 'Articles', 'articles' %>
          <%= nav_link 'Pages', 'pages' %>
          <%= nav_link 'Files', 'documents' %>
          <%= nav_link 'Settings', 'settings' %>
          <%= nav_link 'Users', 'users' %>
        </ul>
      </div>
      <ul class="nav pull-right">
        <li><%= link_to 'Logout', user_session_path, :method => :delete, :class => "session" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span8">
      <div class="page-header">
        <h1><%= (yield :title).empty? ? human_name.capitalize : (yield :title) %></h1>
      </div>
      <% flash.each do |key, msg| %>
	  	<%= content_tag :div, msg, :class => ["alert", "alert-#{key}"] %>
      <% end %>

      <%= yield %>
    </div>
    <div class="span4">
      <div class="well clear-top">
        <h2>Quick Links</h2>
        <ul class="nav nav-list">
			<li><%= link_to iconify(:icon_pencil, "New Article"), new_admin_article_path %></li>
			<li><%= link_to iconify(:icon_file, "New Page"), new_admin_page_path %></li>
			<li><%= link_to iconify(:icon_upload, "Upload File"), new_admin_document_path %></li>
			<li><%= link_to iconify(:icon_user, "Change Password"), edit_admin_user_path(current_user.id) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
