<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title><%= name %> Administration - <%= (yield :title).empty? ? human_name.capitalize : (yield :title) %></title>
  <%= stylesheet_link_tag 'admin/screen',
                          '../markitup/skins/markitup/style',
                          '../markitup/sets/html/style',
                          '../markitup/sets/markdown/style',
                          '../markitup/sets/textile/style',
                          (Rails.env == "production" ? '../anytime/anytimec.css' : '../anytime/anytime.css'),
                          (Rails.env == "production" ? '../bootstrap/css/bootstrap.min.css' : '../bootstrap/css/bootstrap.css'),
                          (Rails.env == "production" ? '../bootstrap/css/bootstrap-responsive.min.css' : '../bootstrap/css/bootstrap-responsive.css') %>
  <%= javascript_include_tag (Rails.env == "production" ? 'jquery.min.js' : 'jquery.js'),
                             'jquery_ujs',
                             '../markitup/jquery.markitup.js',
                             '../markitup/sets/html/set.js',
                             '../markitup/sets/markdown/set.js',
                             '../markitup/sets/textile/set.js',
                             (Rails.env == "production" ? '../anytime/anytimec.js' : '../anytime/anytime.js'),
                             (Rails.env == "production" ? '../bootstrap/js/bootstrap.min.js' : '../bootstrap/js/bootstrap.js'),
                             'application' %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tag %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to name, root_path, :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <%= nav_link 'Articles', 'articles' %>
          <%= nav_link 'Pages', 'pages' %>
          <%= nav_link 'Files', 'documents' %>
          <%= nav_link 'Settings', 'settings' %>
          <%= nav_link 'Users', 'users' %>
        </ul>
      </div>
      <ul class="nav pull-right">
        <li><%= link_to 'Logout', user_session_path, :method => :delete, :class => "session" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span8">
      <div class="page-header">
        <h1><%= (yield :title).empty? ? human_name.capitalize : (yield :title) %></h1>
      </div>
      <% flash.each do |key, msg| %>
          <%= content_tag :div, msg, :class => ["alert", "alert-#{key}"] %>
      <% end %>

      <%= yield %>
    </div>
    <div class="span4 clear-top">
      <div class="well">
        <h2>Tools</h2>
        <ul class="nav nav-list">
          <% if !Setting.application.value(:disqus_shortname).blank? %>
              <li><%= link_to "<i class=\"icon-pencil\"></i> DISQUS Control Panel".html_safe, "http://#{Setting.application.value(:disqus_shortname)}.disqus.com/" %></li>
          <% else %>
              <li>Useful tools coming soon…</li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
