<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <title><%= setting(:name) %></title>
  <%= stylesheet_link_tag "session" %>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <%= csrf_meta_tag %>
</head>
<body>
	<% flash.each do |key, msg| %>
		<%= content_tag :div, content_tag(:p, msg), :id => key %>
	<% end %>
	
	<%= yield %>
</body>
</html>
